@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-btn {
    @apply flex flex-row items-center justify-center gap-1 p-2;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    display: none;
    width: 120px;
    top: 120%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltip-text {
    display: block;
  }

  .tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}
